---
import LinkListItem from './LinkListItem.astro';
import chrome from "@/assets/icon/chrome-test.svg";

interface Props {
    listName: string;
}

const { listName } = Astro.props;
---

<div class="link-list mx-auto w-full lg:w-[1000px] lg:max-w-[1000px] flex flex-col justify-between items-center">
    <div class="flex justify-start items-center w-full px-2 mt-9 mb-2 text-3xl font-bold text-weight-500">
        {listName}
        <a class="sharp-btn mx-3 opacity-0 transition-opacity duration-200 ease hover:opacity-20 cursor-pointer">
            #
        </a>
    </div>
    <hr class="w-full border-t-2 border-gray-200 dark:border-neutral-800" />
    <div class="my-2 w-full grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-3">
        <LinkListItem icon={chrome.src} title="链接标题" description="链接描述" link="https://example.com"/>
        <LinkListItem icon={chrome.src} title="链接标题" description="链接描述" link="https://example.com"/>
        <LinkListItem icon={chrome.src} title="链接标题" description="链接描述" link="https://example.com"/>
        <LinkListItem icon={chrome.src} title="链接标题" description="链接描述" link="https://example.com"/>
        <LinkListItem icon={chrome.src} title="链接标题" description="链接描述" link="https://example.com"/>
        <LinkListItem icon={chrome.src} title="链接标题" description="链接描述" link="https://example.com"/>
        <LinkListItem icon={chrome.src} title="链接标题" description="链接描述" link="https://example.com"/>
    </div>

</div>